<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galería Camisetas Cabrero</title>
    <link rel="stylesheet" href="../styles.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header class="text-center bg-primary text-white py-3">
        <img src="../img/logo.png" alt="Logo Camisetas Cabrero" class="logo">
        <h1 class="d-inline">Camisetas Cabrero</h1>
        <nav>
            <ul class="nav justify-content-end">
                <li class="nav-item"><a class="nav-link text-white" href="../index.html">Inicio</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="galeria.html">Galería</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <div class="container my-4">
        <h2>Galería</h2>
        <div class="row">
            <div class="col-md-4 mb-3">
                <img src="../img/gallery1.jpg" class="img-fluid" alt="Gallery 1">
            </div>
            <div class="col-md-4 mb-3">
                <img src="../img/gallery2.jpg" class="img-fluid" alt="Gallery 2">
            </div>
            <div class="col-md-4 mb-3">
                <img src="../img/gallery3.jpg" class="img-fluid" alt="Gallery 3">
            </div>
            <div class="col-md-4 mb-3">
                <img src="../img/gallery4.jpg" class="img-fluid" alt="Gallery 4">
            </div>
            <div class="col-md-4 mb-3">
                <img src="../img/gallery5.jpg" class="img-fluid" alt="Gallery 5">
            </div>
            <div class="col-md-4 mb-3">
                <img src="../img/gallery6.jpg" class="img-fluid" alt="Gallery 6">
            </div>
            <div class="col-md-4 mb-3">
                <img src="../img/gallery7.jpg" class="img-fluid" alt="Gallery 7">
            </div>
            <div class="col-md-4 mb-3">
                <img src="../img/gallery8.jpg" class="img-fluid" alt="Gallery 8">
            </div>
            <div class="col-md-4 mb-3">
                <img src="../img/gallery9.jpg" class="img-fluid" alt="Gallery 9">
            </div>
        </div>
    </div>

    <footer class="text-center bg-primary text-white py-3">
        <p>Teléfono: 671355341</p>
        <p>Email: camisetascabrero@gmail.com</p>
        <div>
            <a href="https://www.facebook.com" target="_blank"><img src="../img/facebook.png" alt="Facebook" width="30" height="30"></a>
            <a href="https://www.twitter.com" target="_blank"><img src="../img/twitter.png" alt="Twitter" width="30" height="30"></a>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
